{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="//cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
</head>

<style>

</style>k

<body class="body-content">
       
    <div id="app" class="container">

        <div class="mainHeader ">
              
            <div class="header" id="header">
                   
                <span class="sidebarButtonWrapper" @click="toggleHeaderUser"><span class="sidebarButton"><i class="material-icons">
                            ${message}$</i></span></span>

                <div class="textHeader "><a style=" text-decoration:none;" >Ask Russell </a> </div>
                <div id="btn-top"><span><i class="material-icons expand-less">expand_less</i></span></div>

                <div class="headerMainWrapper">
                    <div>  <a href="{% url 'task-home' %}"> Main  </a> <a class="" href="{% url 'search' %}">Search</a> 
                        {% if user.profile.role == 'learner' %}  <a href="{% url 'create-gig' %}">Ask a Question</a> {% endif %}
                        {% if user.profile.role == 'learner' %}   <a href="{% url 'my-gigs' %}" >My Questions</a>{% endif %}</div>
                </div>
                <div class="headerUserWrapper" >
                    <div class="headerUser">
                        <img class="logo" width="35" height="35" src="{% if user.profile.logo %} {{MEDIA_URL}}{{request.user.profile.logo}} {% else %} 
                        {% static 'img/user2.png' %} {% endif %} {% if user.profile.logo == none %}  {% static 'img/user.png' %} {% endif %} " >
                        <span style="margin-top:12px;">{{request.user.username}} <span style="padding-left:3px; font-size: 13px;  vertical-align: text-top; color:rgb(77, 74, 74);"> &#9660;</span></span>
                       
                        <div class="headerMenuWrapper">
                                <div class="UserWrapper ">
                                 
                                    <a href="{% url 'task-sign-out' %}"> Log out </a><br>
                                    <a href="{% url 'task-account' %}"> Edit </a><br>
                                    <a href="{% url 'profile' user.username %}">My profile</a>
                                   
                                </div>
                            </div>
                    </div>
                </div>
               

            </div>


        </div>

       
        <div class=" sidebar " :class="{'Hide': isOpen}">
            {% block sidebar %}

            <div class="text-center userProf">
                
                <img class="logo" width="85" height="85" src="{% if user.profile.logo %}{{MEDIA_URL}}{{request.user.profile.logo}}{% else %} 
                {% static '/img/user2.png' %}{% endif %} {% if user.profile.logo == none %}{% static '/img/user.png' %} {% endif %} " >
                
                <div style="margin-top:12px;">{{request.user.username}}</div>

                <hr>

                <span class="sidebarUserWrapper">
                    <a href="{% url 'task-sign-out' %}"> Log out </a>|
                    <a href="{% url 'task-account' %}"> Edit </a>|
                    <a href="{% url 'profile' user.username %}">My profile</a>
                </span>
                <hr>


            </div>

            <div class="list-group text-center">
                <span class="text list-group-span">
                    <span class="sidebarUserWrapper"> Menu </span>
                  

                    <a href="{% url 'task-home' %}" class="list-group-item "> Main page </a>
                    {% if user.profile.role == 'learner' %}  <a href="{% url 'my-gigs' %}" class="list-group-item">My gigs</a> {% endif %}
                    {% if user.profile.role == 'learner' %}   <a href="{% url 'create-gig' %}" class="list-group-item">Create a gig</a> {% endif %}
                    <a class="list-group-item" href="{% url 'search' %}">Search</a> 

                </span>
                </span>
            </div>
            {% endblock %}
        </div>
        <div class="Main ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-10 col-sm-10 content">
                        {% block page %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
            <div style="display:flex;">
        <img alt="" class="img-logo"style="height: 140px;background:rgb(255, 255, 255);  position: relative; width:auto;" src="">
        <div style=" width:100%; height: 140px ; background:rgb(255, 255, 255); "></div>
        </div>
        <div>
        <div style="width:100%; padding:30px; border-top:1px solid rgba(70, 70, 70, 0.178);line-height:30px; background:rgb(255, 255, 255);">©2018 Qualia – All rights reserved.</div>
    </div>

  </div>

    

  <script src="{% static 'js/main.js' %}">
   
  </script>
</body>

</html>