{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
{% load bootstrap3%}


 <style>
    .Hide {
        display: none;
    }
</style> 

    <div class="col-md-12" style="padding: 0px !important;">
        <div class="card" style="margin-bottom:0px; margin:0px !important; border-radius: 0px; overflow-x: scroll;">
            <div style="padding:20px;">
                <h5 class="text-center"> {{ gig.get_category_display}}
                </h5>
                <hr>


                <!-- <h5 class="text-center "> Question </h5> -->

                {{gig.tasks|safe}}
                  <!-- <img src="/media/{{gig.photo}}" style="display: block;margin: auto;" alt="" class="img-fluid "> 



                 <h5 class="text-center "> Answers </h5>


                {{gig.answers|safe}}

                <h5 class="text-center">
                    Speaking
                </h5>

                <audio style="background: rgb(255, 255, 255); width: 100%;" class="horizontal-alignment" controls>
                    <source src="/media/{{gig.songfile}}" type="audio/mpeg">

                </audio>  
 -->


            </div>



        </div>

        <div class="card wrapperBlock" id="{{gig.user.id}}" onclick="myFunction('{{ gig.user.id }}')" style="margin-top:0px !important;border-top:1px solid white;border-radius: 0px; " data-url="{% url 'profile' gig.user.username %}">
            <div style="padding:20px;">


                <img src="/media/{{gig.user.profile.logo}}" style="clip-path: circle(50.1% at 50% 50%); object-fit: cover;"
                    width="85px" height="85px">
                <div style="display:inline-block; position: absolute; margin-left:10px;">
                    <span style="color:rgba(0, 0, 0, 0.5);"> First name: </span> {{profile.user.first_name}}
                    <br>
                    <span style="color:rgba(0, 0, 0, 0.5);">Last name: </span> {{profile.user.last_name}}
                    <br>
                    
                   
                    <span style="color:rgba(0, 0, 0, 0.5);"> About me: </span> {{profile.status}}
                    <br>
                    

                </div>





            </div>
        </div>




        {% for comment in comments%}

        <div class="comment-wrapper" style=" padding:20px;border:1px solid rgba(0, 123, 255, 0.287);">
                <div style="background: #F4F7F7; padding:10px; border-radius:10px;">
                    {{comment.user.profile.philosopher}} 
                        <span CLASS="float-right"><a href="{% url 'profile' comment.user %}"> {{comment.user.first_name}} {{comment.user.last_name}}</a></span>
                    </div>
              
               <div style="padding:12px;padding-bottom:0px">
            {{comment.content|safe}}
            
        </div>
          
          
       
            <span CLASS="float-right" style="color:rgba(0, 0, 0, 0.5);">{{comment.timestamp}}</span>
        <br>
        </div>

        {% endfor %}

        {% if profile.role == 'teacher' %}
        
       
   
        {% endif %}

        {% if user.profile.role == 'learner' %}
      
       {% endif %}
       {% if user.profile.role == 'teacher' %}
       <div style="padding:1px;  padding-bottom:10px;  background:#F8F8F8;   ">
        <form action="." method="POST" class="text-center">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="Evaluate the answer" class="btn btn-pink ">
        </form>
    </div>
        {% endif %}
     
       
    </div>








{% endblock %}
