{% extends 'base.html' %}
{% load bootstrap3% }
{% load staticfiles %}
{% block title %}
Home
{% endblock %}

{% block page %}
<div id="overlay">
    <div class="preloader4" style=" top:35%;"></div>
    
</div>
<div class="content-wrapper ">
    <div class="ViewSelectWrapper" style="width: 100%; height: 32px; background: rgb(255, 255, 255);
     border:1px solid #DADCE0;">
        <i @click="toggleSelectView" class="material-icons" style="float:right; font-size: 30px;color:rgba(0, 0, 0, 0.730); ">
            ${messageView }$</i>
        <!--  <i  @click="toggleSelectView" class="material-icons" style="float:right;  font-size: 27px;  top:2px; position: relative;color:rgba(0, 0, 0, 0.730); ">
                    view_day</i>
                    -->
    </div>
    <div class="row" style="padding: 8px;" :class="{'hideview': isModuleView}">
        {% for gig in gigs %}
        <div class="wrapper-thumbnail col-lg-4">
            <div class="thumbnail  " onclick="myFunction('{{ gig.id }}')" data-url="{% url 'gig-detail' gig.id %}" id="{{gig.id}}">


                <!--<img class="img-thumbnail"  href="{% url 'gig-detail' gig.id %}" src="/media/{{gig.photo}}" > -->
               <br>
                <div class="gig-title text-center">

                    {{ gig.get_category_display}}

                </div>
                <hr>
                <br>
                <br>
                <div class="gig-bottom">

                    <img src="/media/{{gig.user.profile.logo}}" style="clip-path: circle(50.1% at 50% 50%); object-fit: cover;
                top:9px; position: relative; margin-right:6px;"
                        width="40px" height="40px">
                    <span> {{gig.user.username}}<br></span>
                    <small class="gig-time">{{gig.create_time|timesince}} ago</small>

                </div>


            </div>
        </div>

        {% endfor%}


    </div>
    <!----------------------------------------------------------------------------------------------- -->
    <div class="row ListlView" style="padding: 8px;" :class="{'hideview': !isModuleView}">
        {% for gig in gigs %}
        <div class="wrapper-thumbnail col-lg-12">
            <div class="thumbnail  " style=" max-height: 450px ;
        min-height: 200px;" onclick="myFunction('{{ gig.id }}')"
                data-url="{% url 'gig-detail' gig.id %}" id="{{gig.id}}">


                <!--<img class="img-thumbnail"  href="{% url 'gig-detail' gig.id %}" src="/media/{{gig.photo}}" > -->
                <hr>
                <div style="  overflow: hidden;">
                    <div class="text-center" style="max-height: 300px; overflow-y: scroll;  position: relative;  right: -20px;
            margin-left: -20px;
            ">

                        {{ gig.get_category_display}}
                        {{gig.tasks|safe|truncatechars_html:1700}}
                    </div>
                </div>
                <hr>
                <br>
                <br>
                <div class="gig-bottom">

                    <img src="/media/{{gig.user.profile.logo}}" style="clip-path: circle(50.1% at 50% 50%); object-fit: cover;
                top:9px; position: relative; margin-right:6px;"
                        width="40px" height="40px">
                    <span> {{gig.user.username}}<br></span>
                    <small class="gig-time">{{gig.create_time|timesince}} ago</small>

                </div>


            </div>
        </div>

        {% endfor%}


    </div>


    <br>
    <div style="width: 100%">
        <div class="pagination " style="  transform: translate(-50%);
    position: absolute;
    left: 50%;">
            <span class="step-links">
                {% if gigs.has_previous %}
                <a href="?page={{ gigs.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ gigs.number }} of {{ gigs.paginator.num_pages }}.
                </span>

                {% if gigs.has_next %}
                <a href="?page={{ gigs.next_page_number }}">next</a>
                {% endif %}
            </span>

        </div>
        <br>
    </div>
</div>









<!-- <div class="card">
        <div class="card-body">
            <h3 class="text-center"> <b>{% block heading %}gigi{% endblock %}</b></h3>
          
      
        </div>
    </div> -->

<!-- <p> ${ message }$ </p> -->


{% endblock %}