{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qualia</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleLendingPage.css' %}">
    <script src="https://unpkg.com/vue"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto" rel="stylesheet"> 
    <title>Document</title>
</head>
<!--style="background-image:url('../../static/img/sky.jpg');   background-attachment: fixed;   background-repeat: no-repeat; background-size: cover;"-->

<body style="background:rgb(255, 255, 255);     background-repeat: no-repeat; background-size: cover;">
   
    <div class="header">
        <div class="textHeader "><a style=" text-decoration:none;" href="{% url 'lending-page' %}">Qualia
            </a> </div>
        <div class="headerUserWrapper">    <a style=" border: 1px solid #DADCE0;" class="btn btn-light " id="login" href="{% url 'task-sign-in' %}" type="submit" >  
                Log in </a>  </div>
    </div>
    <div class="container" style="background: rgb(255, 255, 255);border-top:1px solid  rgba(70, 70, 70, 0.065);
    ont-family: 'Montserrat', sans-serif; font-size:16px; color:rgb(46, 44, 44);">




        <div class="titleWrapper">
            Qualia – это веб-сервис, объединяющий студентов и высококвалифицированных преподавателей со всего мира. Сервис предусматривает две главные роли: Студент или Преподаватель. С его помощью студенты могут подготовиться к ЕГЭ IELTS TOEFL, а преподаватели помогают им получить новые знания и высокие баллы. 
        </div>
        <div class="row">
            <div class="col-lg-6 wrapperCard">
                <div class="card">
                        <div >
                        Вы - студент и хотите сдать ваш экзамен на максимальное количество баллов? Тогда вы можете сами создавать свои задания и решать их, а также присоединиться к другим студентам. Эти задания будут проверены высококвалифицированными преподавателями, которые помогут вам разобраться в ваших ошибках. 
                    </div>
                        <hr>
                    <div class="card-content horizontal-alignment">
                            <a style="bottom:-175px; color:white;" href="{% url 'task-sign-up-learner' %}" type="submit" class="btn   btn-pink  horizontal-alignment ">   Create
                                    learner account </a>
                    

                    </div>
                </div>
            </div>
            <div class="col-lg-6 wrapperCard">
                <div class="card">
                    <div class="lineup" style="height:145px; ">
                        Вы преподаватель английского языка и вам нечем заняться в свободный вечер? А может быть вы просто хотите помогать студентам в подготовки к экзаменам? В таком случае этот сервис для вас. Вы можете проверять задания студентов со всего мира и помочь им достигнуть свои цели!
                    </div>
                       
                        <hr>
                    <div class="card-content horizontal-alignment">
                        
                     
                        <a style="bottom:-175px;" href="{% url 'task-sign-up-teacher' %}" type="submit" class="btn   btn-primary horizontal-alignment ">   Create
                            teacher account </a>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <div class="footer">
        <div style="display:flex;">
      <!--  <img alt="" class="img-logo"style="height: 140px;background:rgb(255, 255, 255);  position: relative; width:auto;" src="{% static 'img/q.png' %}">
        <div style=" width:100%; height: 140px ; background:rgb(255, 255, 255); "></div>
  </div> --> 
        <div style="width:100%; padding:30px; border-top:1px solid rgba(70, 70, 70, 0.178);line-height:30px; background:rgb(255, 255, 255);">©2018 Qualia – All rights reserved.</div>
    </div>

    <script src="{% static 'js/lending.js' %}"> </script>

</body>

</html>