{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

<div class="text-center" style="display: inline-flex;  flex-wrap: wrap; width: 100%; background:white; border:1px solid #DADCE0; ">
    <div class="profile_1" style=" padding:10px;  background-color: #F4F7F7; ">
            <img class="logo" src=" {% if user.profile %} {{MEDIA_URL}}{{profile.logo}} {% else %} {% static 'img/man-under-tree-512.png' %} {% endif %}"
            width="200" height="200" style="margin: 20px auto;">
               <h3>{{profile.user.username}} </h3> 
                <p>
                    {{profile.role|upper}}
                    <br>
                    
                </p>
                
    </div>
    <div class="profile" style="border:1px solid rgba(255, 0, 0, 0); padding:25px;">
       
        
      
       
        <div style="float:left; text-align: left;">
           
        <span style="color:rgba(0, 0, 0, 0.5);"> First name: </span> {{profile.user.first_name}}
        <br>
        <span style="color:rgba(0, 0, 0, 0.5);">Last name: </span> {{profile.user.last_name}}
        <br>
        <span style="color:rgba(0, 0, 0, 0.5);"> About me: </span> {{profile.status}}
    </div>   
    <br>
   
    <div style="float:left; " >
      
        {% if profile.user.username == request.user.username %}
        <span style="color:rgba(0, 0, 0, 0.5);"> Viewed tasks for session: </span> {{ request.COOKIES.visits}}
        {% endif %}
    </div>
          
           
            
</div>
  
          
        
</div>




{% endblock %}